* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  background: linear-gradient( #f1f1f1,#787878);
}

ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}

ul a {
  text-decoration: none;
}

nav li:nth-child(1) {
  border-right: 1px solid black;
  padding-right: 10%;
}

nav li:nth-child(3) {
  border-left: 1px solid black;
  padding-left: 10%;
}

ul a:hover {
  cursor: pointer;
}

h1 {
  margin: 2rem auto 2rem;
  width: 50%;
}

nav {
  width: 90%;
}

.head ul {
  list-style: none;
}
.head img {
  width: 100%;
}

/* Index.html stylings */
.main p:nth-child(2) {
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

form input ,
form select{
  padding: .25rem;
  border-radius: 5px;
  border: 1px solid #bebebe;
}

button {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  background-color: #FFD24E;
}

button:hover {
  background-color: #CC0000;
  opacity: .5;
  cursor: pointer;
}

.main-flex,
.head-flex {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.head-flex {
  flex-direction: column-reverse;
}
/* Index_2.html stylings */

.characters {
  width: 90%;
}

.character img {
  width: 100%;
  height: 600px;
}
/* Index_3.html stylings */

.table-wide {
  display: none;
}

.table-long,
.table-wide {
  margin-bottom: 5rem;
}

.table-long,
.table-wide {
  border: 1px solid black;
}

.table-long table,
.table-wide table {
  border-collapse: collapse;
}

.table-long thead,
.table-long tbody tr,
.table-wide thead,
.table-wide tbody tr {
  border-bottom: 1px solid black;
}

.table-long th,
.table-long td,
.table-wide th,
.table-wide td {
  border-right: 1px solid black;
}

.table-long th:nth-child(3),
.table-long td:nth-child(3),
.table-wide th:nth-child(6),
.table-wide td:nth-child(6) {
  border-right: none;
}

.table-long tr:nth-child(5),
.table-wide tr:nth-child(2) {
  border-bottom: none;
}

th,
td {
  padding: 1rem;
}

@media(min-width: 768px) {

  .head {
    position: relative;
  }

  nav ul {
    font-size: 1.2rem;
  }

  form {
    width: 60%;
  }

  form label{
    text-align: left;
  }

  form input,
  form select {
    padding: 1rem;
  }

  form button {
    width: 20%;
    margin-left: auto;
  }

  .characters {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 800px;
  }

  .character {
    flex: 2 300px;
  }

  .table-long {
    display: none;
  }

  .table-wide {
    display: block;
  }
}